<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <footer>
        <div class="footer-content">
            <div class="footer-section about">
                <h2>KNU Talent Sharing Platform(KTSP)</h2>
                <a>강원대학교 학생들의 팀 빌딩과 학습 지원을 위한 플랫폼</a><br>
                <a>강원대학교 2024-2 캡스톤디자인 경진대회 공모작</a><br>
                <a>Bata Version, 임시 운영기간 : 24.11 ~ 24. 01</a><br>
                <a>임시 운영기간 이후 서비스가 중단될 수 있습니다.</a>
            </div>
            <div class="footer-section contact">
                <h2>제작</h2>
                <p>이승욱</p>
                <p>leesw_0924@icloud.com</p>
                <a href="https://re-bugs.github.io/" target="_blank" rel="noopener noreferrer">https://re-bugs.github.io/</a>
            </div>
            <div class="footer-section teamIntroduce">
                <h2>도움을 주신 분들</h2>
                <p>박강민</p>
                <p>김현석</p>
                <p>박재효</p>
                <p>이상민</p>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 이승욱 | All right reserved
        </div>
    </footer>
</div>
</body>
</html>